# binary
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
./bin/*
*.pid
*.test
rsa

# config
.idea/
*/.idea/
.DS_Store
test/*.json
config/rsa.yaml

# output
*.out
log/
*/*.log
*.log

#other
archive/*
release/*
http-client.env.json
.vscode/
.test
rsa.pid
rsa.yaml
